/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 1rem 0;
  background-image: url('/img/TWPBanner.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.homeText {
  width: 75%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14pt;
}

.bulletGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px 30px;
}

.flexContainer {
  margin-top: 60px;
  width: 50%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  --ifm-link-color: var(--ifm-font-color-base);
}

.flexContainer figure {
  flex-basis: 50%;
  text-align: center;
  font-weight: bold;
  font-size: 15pt;
}

figcaption {
  margin-top: 10px;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 1rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
